<!DOCTYPE html>
<html>
    <head>
        <title>Page thème </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
      

        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  
        
      BLOC 1 
      <div class="row justify-content-md-center">
         <div class="container">
	<div class="row">
		<div class="col-6">
			
		</div>
	</div>
  
	<div class="row">
		<div class="col-3">
		<strong>Photo en longueur du perso</strong>
            <img src="images/77189154-dessin-sport-fille-athl%C3%A9tisme-fitness-image-vector-illustration.jpg"height="200px"> 
		</div>
    
		<div class="col-3">
			<strong>Prénom et nom</strong>
            <br> 
            Histoire du perso blablablabla
            
        </div>
        </div>
		</div>
	  </div>
             
        BLOC 2
              <div class="row justify-content-md-right">
         <div class="container">
	<div class="row">
		<div class="col-6">
			
		</div>
	</div>
  
	<div class="row">
        <div class="row justify-content-md-center">
		<div class="col-3">
            
            <li> <strong>Article 1</strong> </li>
            <hr><br> 
            <li> <strong>Article 2</strong> </li>
            <hr><br> 
            <li> <strong>Article 3</strong> </li>
            <hr><br> 
           <li> <strong>Article 4</strong> </li>
            <hr><br> 
             
		</div>
	</div> 
        </div>
        </div>
        
   
    
    </body>
</html>
