body {
  background-color: #ECF0F1;
    width: 100%;
   margin right: auto;
    position: center;
    margin:0;
    padding:0;
    font-family:Montserrat;
}
#encadresasha h2 {
    color:#D50032;
    text-align: left;
    font-size: 25px;
    margin-bottom: 15px;
}

.encadre {
    background-color: #ECF0F1;
    border-style: solid;
    border-width: 6px;
    border-color:#D50032 ;
    text-align: center;
    padding: 10px;
  
} 
#encadre p {
    color:black;
    font-size:0.8em;
    margin-bottom: 0;
}

.chapo {
    font-size:13px ;
    font-family:Montserrat;
    color: black;
    float:right;
    border-bottom: 2px solid #000000 !important;
    margin-bottom: 20px;
    padding-bottom: 20px;
}



img {
    float: left;
    height : 500px;
    display:block;
}


#categories h4 {
    font-size: 16px ;
    color:black;
    font-weight: 800;
    margin-bottom: 15px;
}

#catperso img {
    float:none !important; width:100%; height:auto; 
}

