/**LES VISAGES DU SPORT**/
/**Communs**/
@font-face {
font-family: Lovelo;
src: url(../fonts/Lovelo_Black.otf);
}
html {color: #011E24; font-size: 1em; line-height: 1.4;}
body {background: #ECF0F1;overflow-x:hidden;font-family:'Montserrat', sans-serif; }
::-moz-selection {background: #011E24; text-shadow: none; color:#FFFFFF; }
::selection { background: #011E24;color:#FFFFFF;text-shadow: none; }
img,li,a,#burger,#close{transition: all 0.4s linear 0s!important;}
iframe {width: 100%!important;margin: 30px 0;position: relative;}
#reseaux {position:fixed;top:10px;right:30px;list-style-type:none;padding:0;margin:0;z-index:4;}
#reseaux li{display:inline-block;font-size:32px;margin-left:20px;}
#reseaux li a{color:#011E24;background:none;}
#reseaux li a:hover,#burger:hover{opacity:0.5;}
#burger{position:fixed;top:10px;left:30px;font-size:32px;color:#011E24;cursor:pointer;z-index:4;}
#close{position:absolute;top:10px;left:30px;font-size:32px;color:#FFFFFF;cursor:pointer;z-index:99999;}
#homepage #close:hover{color:#878787;}
#reseaux li a:hover,#burger:hover{opacity;0.7;}
.navbar{display:block;z-index:999;position:fixed;top:0;left:-230px;width:230px;padding:20px;color:#FFFFFF;background:#011E24;height:100%;height:100vh;}
.navbar ul {list-style-type:none;margin:60px 0 0 0;padding:0;text-align:center;width:100%;}
.navbar li{display:block;padding:5px 10px;background:#011E24;text-align:left;margin:5px 0;border-bottom:2px solid #FFFFFF;}
.navbar li a{color:#FFFFFF;background:none;text-decoration:none;text-transform:uppercase;font-weight:700;}
.navbar li:hover{background:#878787;}
.navbar .separator{margin-top:25px;}
footer{font-size:0.8em;text-align:center;margin-top:30px;height:40px;}
.clear{clear:left;}

/**Accueil**/
#home h1 {color: #011E24;text-align:center;font-family:'Lovelo', sans-serif;text-transform:uppercase;margin:10px 0 50px 0;font-weight:800;font-size:3.2em;}
#home h2 {color: #011E24; text-align: center; font-family:'Montserrat', sans-serif; font-size: 1.4em; font-weight: 500; margin:20px 0 0 0; }
#persos{text-align:center;}
#persos figure{display:inline-block;}
#persos img{margin: 0 20px;cursor:pointer;}
#persos img:hover,.opacity img{filter: grayscale(100%);}
.description{text-align:center;border:4px solid #011E24;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;
padding:10px;width:66%;margin:0 auto 30px auto;display:none;}
.description#intro{display:block;}
.description p{margin-bottom:0;}
.description#sasha{border-color:#D50032;}
.description#sasha h4 {color: #D50032;font-weight: 800;}
.description#charlie{border-color:#FF9800;}
.description#charlie h4 {color: #FF9800;font-weight: 800;}
.description#alix{border-color:#009739;}
.description#alix h4 {color: #009739;font-weight: 800;}
.description#elio{border-color:#7DA1C4;}
.description#elio h4 {color: #7DA1C4;font-weight: 800;}
.description#aylan{border-color:#A20067;}
.description#aylan h4 {color: #A20067;font-weight: 800;}

/**Catégorie général**/
.main-container{margin-top:70px!important;}
.active{text-transform:uppercase;}
#topnav{display:block;z-index:2!important;text-align:center;}
#topnav h1{font-family:'Lovelo',sans-serif;font-size:2.1em;margin-top:20px;}
#topnav h1 a, #categories section h2 a{color:#011E24;text-decoration:none;}
.inside .main-container{margin-top:40px;}
#catperso img {height:460px;width:auto!important;}
.cadre{max-width:340px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:10px;font-size:0.9em;}
.cadre p{margin-bottom:0;}
.cadre h4{margin:0 0 15px 0;font-size:26px;text-align:center;font-weight:800!important;text-transform:uppercase;}
#categories{padding-right:60px;}
#categories section {border-bottom: 2px solid #011E24;margin-bottom: 20px;padding-bottom: 20px;display:block;overflow:auto;} 
#categories section:last-child{border-bottom:none!important;}
#categories section h2{font-size:1.3em;font-weight:700;text-transform:uppercase;}
.chapo {font-size:0.95em;font-weight:400;}
.cat .col-lg-4 .resp{display:none;}

/**Bottom**/
#bottom{text-align:center;}
#bottom figure{display:inline-block;}

/**Articles**/
#art .main-container .col-12{padding:15px;background:#FFFFFF;margin-top:15px;}
.article #topnav,.cat #topnav{position:fixed;width:100%;top:0;left:0;z-index:2;background:#ECF0F1;height:50px;}
.article #burger,.article #reseaux,.cat #burger,.cat #reseaux{top:2px;}
.article #topnav h1,.cat #topnav h1{margin-top: 10px;font-size:1.8em;margin-left: -32px;}
#progression {position:fixed;top: 50px;height: 5px;width: 100%;background: #DBE0E2;z-index: 777;transition: all 0.3s ease;}
#barre{position: absolute;top: 0;width: 1%;height: 100%;transition: all 0.3s;background-color: #54819D;}
.article #catperso{z-index:99!important;position:fixed;bottom:350px;left:130px;}
.article #catperso img{height:360px;}
article{margin-bottom:40px;}
article img{width:100%;height:auto;margin:30px 0;}
#main-title{font-weight:800;margin:0 0 30px 0!important;font-size:2.6em;text-align:center;}
#details{margin-bottom:30px;font-weight:700;font-size:1.1em;text-align:center;}
#chapo {margin-bottom:30px;font-size:1.4em;font-weight:600;}
#topimage{margin-bottom:30px;}
#topimage img{width:100%;margin-bottom:10px;}
#legende{font-size:0.9em;}
.share{margin:0 0 30px 0;padding:0;list-style-type:none;}
.share li{display:inline-block;font-size:26px;margin-right:15px;}
.article article p{margin-bottom:20px;}
* {margin: 0px;padding: 0px;}
#sidebar{padding-right:30px;margin-top:0;}
.box {width: 100%;margin: 0 0 30px 0;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;padding: 10px;text-align: center;font-weight: 700;color: #FFFFFF;position: relative;}
.box a{color:#FFFFFF;text-decoration:none;}
.box a:hover{color:#ECF0F1;opacity:0.9;}
.center{text-align:center;}
.sign{font-family: 'Pacifico', cursive; font-size:26px;}
.inter {margin:40px 0 30px 0;font-size:1.5em;font-weight:700;}
.navbar .resp{display:none;}

/**COULEURS**/
/**Sasha**/
.sasha-cat #topnav h1 a:hover,.sasha-cat #reseaux li a:hover,.sasha-cat #burger:hover,#close:hover{opacity:1;color:#D50032!important;}
.sasha-cat .cadre,#art.sasha-cat .main-container .col-12{border:4px solid #D50032;}
#nav_sasha:hover,.sasha-cat #barre,#nav_sasha.active{background:#D50032!important;}
.sasha-cat #categories section:hover {border-color:#D50032;}
.sasha-cat #categories section h2 a:hover,.sasha-cat .sign,.inter{color:#D50032;}
.sasha-cat .col-lg-8 a:hover{color:#D50032;text-decoration:none;}
.sasha-cat .col-lg-8 a{color:#011E24;}
.sasha-cat #barre{background-color:#D50032;}
.sasha-cat .box{background: #D50032;}

/**Charlie**/
.charlie-cat #topnav h1 a:hover,.charlie-cat #reseaux li a:hover,.charlie-cat #burger:hover,#close:hover{opacity:1;color:#FF9800!important;}
.charlie-cat .cadre,#art.charlie-cat .main-container .col-12{border:4px solid #FF9800;}
#nav_charlie:hover,.charlie-cat #barre,#nav_charlie.active{background:#FF9800!important;}
.charlie-cat #categories section:hover {border-color:#FF9800;}
.charlie-cat #categories section h2 a:hover,.charlie-cat .sign,.charlie-cat .inter,.charlie-cat .cadre h4{color:#FF9800;}
.charlie-cat .col-lg-8 a:hover{color:#FF9800;text-decoration:none;}
.charlie-cat .col-lg-8 a{color:#011E24;}
.charlie-cat #barre{background-color:#FF9800;}
.charlie-cat .box{background: #FF9800;}

/**Alix**/
.alix-cat #topnav h1 a:hover,.alix-cat #reseaux li a:hover,.alix-cat #burger:hover,#close:hover{opacity:1;color:#009739!important;}
.alix-cat .cadre,#art.alix-cat .main-container .col-12{border:4px solid #009739;}
#nav_alix:hover,.alix-cat #barre,#nav_alix.active{background:#009739!important;}
.alix-cat #categories section:hover {border-color:#009739;}
.alix-cat #categories section h2 a:hover,.alix-cat .sign,.alix-cat .inter{color:#009739;}
.alix-cat .col-lg-8 a:hover{color:#009739;text-decoration:none;}
.alix-cat .col-lg-8 a{color:#011E24;}
.alix-cat #barre{background-color:#009739;}
.alix-cat .box{background: #009739;}

/**Elio**/
.elio-cat #topnav h1 a:hover,.elio-cat #reseaux li a:hover,.elio-cat #burger:hover,#close:hover{opacity:1;color:#7DA1C4!important;}
.elio-cat .cadre,#art.elio-cat .main-container .col-12{border:4px solid #7DA1C4;}
#nav_elio:hover,.elio-cat #barre,#nav_elio.active{background:#7DA1C4!important;}
.elio-cat #categories section:hover {border-color:#7DA1C4;}
.elio-cat #categories section h2 a:hover,.elio-cat .sign,.elio-cat .inter{color:#7DA1C4;}
.elio-cat .col-lg-8 a:hover{color:#7DA1C4;text-decoration:none;}
.elio-cat .col-lg-8 a{color:#011E24;}
.elio-cat #barre{background-color:#7DA1C4;}
.elio-cat .box{background: #7DA1C4;}

/**Aylan**/
.aylan-cat #topnav h1 a:hover,.aylan-cat #reseaux li a:hover,.aylan-cat #burger:hover,#close:hover{opacity:1;color:#A20067!important;}
.aylan-cat .cadre,#art.aylan-cat .main-container .col-12{border:4px solid #A20067;}
#nav_aylan:hover,.aylan-cat #barre,#nav_aylan.active{background:#A20067!important;}
.aylan-cat #categories section:hover {border-color:#A20067;}
.aylan-cat #categories section h2 a:hover,.aylan-cat .sign,.aylan-cat .inter{color:#A20067;}
.aylan-cat .col-lg-8 a:hover{color:#A20067;text-decoration:none;}
.aylan-cat .col-lg-8 a{color:#011E24;}
.aylan-cat #barre{background-color:#A20067;}
.aylan-cat .box{background: #A20067;}

/**Responsive**/
@media screen and (max-width:1500px) { 
	.left{margin-left:230px;width:100%;max-width:calc(100%-230px);}
}
@media screen and (max-width:1199px) {
	.cat .container{max-width: 1150px;}
}
@media screen and (max-width:1100px) {
	.cadre {max-width: 330px;}
}
@media screen and (max-width:1050px) {
	.cadre {max-width: 310px;}
}
@media screen and (max-width:1024px) {
	.container{width:100%;max-width:100%;}
	#main-title {font-size: 2.5em;}
	.article #burger,.cat #burger{left: 15px;}
	.article #reseaux,.cat #reseaux  {right: 15px;}
	.navbar #close{left:15px;}
	.cadre {max-width: 300px;}
}
@media screen and (max-width:991px) {
	#catperso img {height: 420px;}
	#categories {padding-right: 30px;}
}
@media screen and (max-width:955px) {
	.cadre {max-width: 290px;}
}
@media screen and (max-width:935px) {
	.cadre {max-width: 280px;}
}
@media screen and (max-width:915px) {
	.cadre {max-width: 270px;}
}
@media screen and (max-width:900px) {
	#main-title {font-size: 2.4em;}
	.cadre {max-width: 260px;}
	#catperso img {height: 410px;}
}
@media screen and (max-width:830px) {
	.cadre {max-width: 100%;position:relative;display:block;}
	#catperso img {height: auto;position:relative;float:left;padding-left:50px;}
	#categories{width:100%!important;margin-top:30px;max-width:100%!important;display:block;min-width:100%;flex:none;}
	.cat .col-lg-4{flex: none;max-width: 80%;display:block;padding-left: 50px;padding-right: 0;}	
}	

@media screen and (max-width:800px) {
	#main-title {font-size: 2.3em;}
}
@media screen and (max-width:767px) {
	#sidebar{margin-top:20px!important;}
	.article #topnav h1,.cat #topnav h1 {margin-top: 12px;font-size: 26px;margin-left: -30px;}
}
@media screen and (max-width:750px) {
	#catperso{display:none;}
	.main-container {margin-top: 50px!important;}
	.cat .col-lg-4{padding:0 15px!important;}
	.cat .col-lg-4 {max-width: 100%;float: none;margin-right: 15px;margin-top:-20px;}
	.cat .col-lg-4 .resp{display:block;margin-top:20px;}
}
@media screen and (max-width:580px) {
	#catperso{max-width:25%;float:left;flex:none;}
	#catperso img{width:98%!important;}
}
@media screen and (max-width:500px) {
	#main-title {font-size: 2.1em;}
	.article #topnav h1,.cat #topnav h1 {margin-top: 14px;font-size: 20px;margin-left: -40px;}
	.cadre:before {right: 30px!important;}
}
@media screen and (max-width:400px) {
	#main-title {font-size: 2em;}
	.article #burger, .article #reseaux,.cat #burger, .cat #reseaux {top: 4px;font-size:28px;}
	#reseaux li {margin-left: 10px;}
	.article #topnav h1,.cat #topnav h1{display:none!important;}
	.navbar .resp{display:block;margin: 50px 0 -40px 0;font-size:1.5em;font-family:'Lovelo',sans-serif;line-height:1;}
}

/**Print**/
@media print {
  *,
  *:before,
  *:after {background: transparent !important;color: #000 !important;/* Black prints faster */box-shadow: none !important;text-shadow: none !important;   }   *, *:before, *:after { background: transparent !important; color: #000 !important; /* Black prints faster */ box-shadow: none !important; text-shadow: none !important; }
  a{text-decoration:none;}
  pre {white-space: pre-wrap !important;}
  thead {display: table-header-group;}
  tr,img {page-break-inside: avoid;}
  p,h2,h3 {orphans: 3;widows: 3;}
  h2,h3 {page-break-after: avoid;}
  
}